.patton-header .x-panel-body {
  background-image: url(../images/header-background.gif);
}
.patton-header .logo {
  background-image: url("../images/patton.png") !important;
  background-repeat: no-repeat;
  width: 250;
  height: 62;
  margin-top: 10px;
  margin-left:15px;
}
.icon-delete {
  background-image: url("../images/button_icons/Trash.png") !important;
}
.icon-add {
  background-image: url("../images/button_icons/Plus.png") !important;
}
.icon-refresh {
  background-image: url("../images/button_icons/Refresh.png") !important;
}
.icon-save {
  background-image: url("../images/button_icons/Save.png") !important;
}
.icon-reboot {
  background-image: url("../images/button_icons/Standby.png") !important;
}
.icon-logout {
  background-image: url("../images/button_icons/GoOut.png") !important;
}
.icon-ok {
  background-image: url("../images/button_icons/Ok.png") !important;
}
.icon-cancel {
  background-image: url("../images/button_icons/Cancel.png") !important;
}
.icon-expand {
  background-image: url("../images/button_icons/FullSize.png") !important;
}
.icon-collapse {
  background-image: url("../images/button_icons/ReducedSize.png") !important;
}
#header-data .infoTable {
    float: right;
    margin-top: 15px;
    margin-right: 5px;
    color: white;
    font-size: 12px;
}
.infoTable tr td { padding:0px 5px 0px 2px }
.label { color: inherit; text-align:right; font-weight:bold;}
.value { color: inherit; text-align:left; }
